#cvv{
	background-color: green;

}
.dat{
	font-family: cursive;
}

a:visited,active{
	
}
#lo{
	color: #0284FF;
}

#sii{
	
	width: 80%;
	float: left;
}
#sdd{

	float: left;
	width: 19.9%;
	
}
#tab{
	width: 100%;
}
#jjtt{
	font-family: cursive;
}
#cont{
	float: left;
	color: gold;

	width: 100%;
	background-color: black;
}

h1{
	color: red;
	font-family: Arial Black;
}
h2{
	color: green;
	font-family:Helvetica;
}
#tos{
	background-color: silver;
}








